.section-fullwidth-img .wrap-img--gradient:after, .hero-content-center__img-bg:after {
    pointer-events: none;
}

.mw-skin-1-text-container .hero-content-center__img-bg {
    z-index: 0;
}

.mw-skin-1-text-container .container {
    z-index: 1;
    position: relative;
}


@media screen and (min-width: 992px) {
    .section-testimonials .wrap-cards>[class*=col] {
        margin-bottom: 49px;
    }
}

@media screen and (min-width: 992px) {
    .section-other-club-operation .wrap-cards>[class*=col] {
        margin-bottom: 51px;
    }
}


@media screen and (min-width: 992px) {
    .section-reasons .wrapper-cards>[class*=col] {
        margin-bottom: 51px;
    }
}

@media screen and (min-width: 576px) {
    .section-all-insurance .wrapper-cards>[class*=col] {
        margin-bottom: 50px;
    }
}


.section-calendar-club-operation .cards-wrap {
    margin-bottom: 51px;
}


.section-insurance-cards .wrap-cards>[class*=col] {
    margin-bottom: 50px;
}

.section-participate--top .cards-wrap>[class*=col] {
    margin-bottom: 30px;
}

.dropdown-item__icon img{
    min-width: 20px;
}

.section-video-tool .poster-video:before{
    pointer-events: none;
}
.embed-responsive > .module-video[template="sporta-team"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main > .edit{
    min-height: 100px;
}

.block-information-package__left-side picture:after{
    pointer-events: none;
}
.block-information-package__left-side picture{
    z-index: 0;
}
.block-information-package__left-side > .element,
.block-information-package__left-side > .module,
.block-information-package__left-side .block-information-package__top,
.block-information-package__left-side .block-information-package__bottom{
    position: relative;
    z-index: 1;
}

.form-group:after{
    content: '.';
    font-size: 0;
    clear: both;
    display: block;
    height: 1px;
}

.main-menu-button-edit{
    /* parent has disabled pointer events but text inside button must be editable */
    pointer-events: all;
    cursor: text;
}
.edit ol.list-custom li, .edit ol.list-custom li:before {
    display: inline-block;
    display: -webkit-box;
}

.section-accidents .section__block-title h2 {

    text-transform: none;
}

.img-cover {
    height: 100%!important;
}

.st-table-cell--category .cell-category-centered:before {
    content: none;
}

.st-table-cell__content-centered:before {
    content: none;
}

.st-table-cell--price .cell-price-centered:before {
    content: none;
}



@media screen and (max-width: 575px) {
    .sporta-prices-table-paragraph {
        padding-right: 17px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: #818181;
        margin: 0px;
    }
}

@media screen and (min-width: 575px) {
    .sporta-prices-table-paragraph {
        display: none;
    }
}



@media screen and (max-width: 575px) {
    .sporta-prices-table-title {
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: #818181;
        margin: 0px;
    }
}

@media screen and (min-width: 575px) {
    .sporta-prices-table-title {
        display: none;
    }
}


@media screen and (max-width: 575px) {
    .sporta-prices-table-price {
        padding-right: 22px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: #818181;
        margin: 0px;
    }
}

@media screen and (min-width: 575px) {
    .sporta-prices-table-price {
        display: none;
    }
}

body.mw-live-edit .section-filter .card-hover-block:before{
    position: absolute;
    color: #fff;
    background-color: #00000047;
    padding: 3px 7px;
    content: 'Hover container!';
    margin: -23px;
    top: 25px;
    pointer-events: none;
    border-radius: 33px;

}
body.mw-live-edit .section-multimove-advantages .card,
body.mw-live-edit .section-filter .section-filter .card{
    height: auto !important;
}
body.mw-live-edit .section-filter .card-hover-block{
    position: static;
    transform: none;
}

/* Contact Form Styles */

/*.message-sent {*/
    /*position: absolute;*/
    /*left: 325px;*/
/*}*/


.message-sent-icon{
    display: block;
    position: absolute;
    right: 200px;
    bottom: 5px;
    width: 52px;
    height: 52px;
    background: url(../img/message-sent.png) no-repeat;
    margin: 0px 10px 0px;
}


[class*='contact-form-template-'] .message-sent {
    display:none;
}

.message-sent-icon-orange{background-position: 0 -104px;}
.message-sent-icon-green{background-position: 0 -52px;}

[class*='contact-form-template-'] input,
[class*='contact-form-template-'] textarea,
[class*='contact-form-template-'] select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
}
[class*='contact-form-template-'] .mw-custom-field-upload{
    width: 100%;
}
[class*='contact-form-template-'] input[type='submit']{
    float: right;
}



[class*='contact-form-template-'] textarea{
    resize: vertical;
}

.datepicker{
    display: none;
    position: absolute;
    z-index: 12;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

[class*='contact-form-template-'] label{
    display: block;
    clear: both;
    padding-bottom: 4px;
    padding-top: 12px;
}

[class*='contact-form-template-'] label.inline{
    display: inline-block;
    float: left;
    clear: both;
    margin-right: 12px;
}

[class*='contact-form-template-'] .captcha-holder{
    background: white;
    border-radius: 2px;
}



[class*='contact-form-template-'] .mw-custom-field-price .mw-custom-field-form-controls{
    color: #6C6C6C;
    font-size: 150%;
}
