.section-fullwidth-img .wrap-img--gradient:after, .hero-content-center__img-bg:after {
    pointer-events: none;
}

.mw-skin-1-text-container .hero-content-center__img-bg {
    z-index: 0;
}

.mw-skin-1-text-container .container {
    z-index: 1;
    position: relative;
}


@media screen and (min-width: 992px) {
    .section-testimonials .wrap-cards>[class*=col] {
        margin-bottom: 49px;
    }
}

@media screen and (min-width: 992px) {
    .section-other-club-operation .wrap-cards>[class*=col] {
        margin-bottom: 51px;
    }
}
.dropdown-item__icon img{
    min-width: 20px;
}

.section-video-tool .poster-video:before{
    pointer-events: none;
}
