.section-insurance-cards {
  padding-bottom: 26px;

  @include min-w(576px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include min-w(992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    max-width: 1320px;
  }

  .wrap-cards {
    & > [class*="col"] {
      margin-bottom: 50px;

      @include min-w(992px) {
        margin-bottom: 0;
      }
    }
  }

  .card {
    width: 100%;
    max-width: 335px;
    border-radius: 2px;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.05);

    @include min-w(480px) {
      max-width: 318px;
    }

    @include min-w(992px) {
      max-width: 325px;
    }

    &-header,
    &-body,
    &-footer {
      padding-left: 25px;
      padding-right: 25px;

      @include min-w(992px) {
        padding-left: 21px;
        padding-right: 21px;
      }
    }

    &-header {
      padding-top: 40px;
      padding-bottom: 0px;

      @include min-w(992px) {
        padding-bottom: 2px;
      }
    }

    &-body {
      padding-top: 20px;
      padding-bottom: 27px;

      @include min-w(992px) {
        padding-bottom: 20px;
      }
    }

    &-footer {
      padding-top: 26px;
      padding-bottom: 40px;

      @include min-w(992px) {
        padding-top: 19px;
      }

      .btn {
        min-width: 226px;

        @include min-w(480px) {
          min-width: 214px;
        }

        @include min-w(992px) {
          min-width: 178px;
        }
      }
    }

    &-icon {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 1.282;

      @include min-w(992px) {
        margin-bottom: 20px;
      }
    }
  }

  .circles {
    &--top-left {
      top: 14px;
      left: 20px;
    }
  }
}