.section-guidance {
  overflow: hidden;
  padding-top: 0;

  @include min-w(992px) {
    padding-top: 100px;
  }
}

.guidance-card {
  padding-bottom: 37px;

  @include min-w(768px) {
    padding-bottom: 50px;
  }

  &__content {
    width: 100%;
    padding-top: 31px;

    @include min-w(576px) {
      padding-top: 30px;
    }

    @include min-w(992px) {
      max-width: 514px;
      padding-top: 39px;
      padding-left: calcFluidSize(0px, 84px, 992px, 1439px);
    }

    @include min-w(1440px) {
      padding-left: 84px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.95;

    @include min-w(480px) {
      @include fluid-font(20px, 26px, 480px, 767px);
      line-height: 1.5;
    }

    @include min-w(768px) {
      @include fluid-font(26px, 50px, 768px, 1440px);
    }

    @include min-w(992px) {
      line-height: 1.4;
    }
  }

  &__text {
    margin-bottom: 15px;

    @include min-w(992px) {
      margin-bottom: 40px;
    }

    &-bold {
      font-weight: 600;
      line-height: 1.282;
    }
  }

  &__wrap-btn {
    margin-top: 30px;

    @include min-w(576px) {
      margin-top: 29px;
    }

    @include min-w(992px) {
      margin-top: 60px;
      margin-bottom: 6px;
    }

    .btn {
      min-width: auto;
    }
  }

  &__wrap-img {
    position: relative;

    picture {
      display: block;

      img {
        display: block;
        width: calc(100% + 40px);
        max-width: none;
        margin: 0 -20px;

        @include min-w(576px) {
          width: calc(100% + 80px);
          margin: 0 -40px;
        }

        @include min-w(992px) {
          width: auto;
          max-width: 100%;
          margin: 0;
        }
      }
    }

    .circles {
      &--top-left {
        top: 22.5%;
        left: -10.6%;
      }

      &--bottom-center {
        bottom: -15.5%;
        left: 50%;
      }
    }

    .rect {
      height: 86%;

      &--bottom-right {
        bottom: -18.6%;
        right: -34%;
      }
    }

    &--ml {
      @include min-w(992px) {
        margin-left: 9%;
      }
    }
  }
}

.benefits-guide-card {
  padding: 38px 0 76px;

  @include min-w(768px) {
    padding: 50px 0 100px;
  }

  @include min-w(992px) {
    padding: 100px 0 147px;
  }

  picture {
    display: block;

    @include min-w(768px) {
      padding-right: 22px;
    }

    img {
      display: block;
      width: 95%;
      margin: 0 auto;

      @include min-w(768px) {
        width: 100%;
        margin: 0 0 0 -23px;
      }

      @include min-w(992px) {
        width: auto;
        max-width: 100%;
        margin: 0;
      }
    }
  }

  &__content {
    padding-top: 75px;

    @include min-w(768px) {
      padding-top: 3px;
      padding-left: calcFluidSize(0px, 69px, 768px, 1439px);
    }

    @include min-w(992px) {
      padding-top: 0;
    }

    @include min-w(1440px) {
      padding-left: 69px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.95;

    @include min-w(480px) {
      @include fluid-font(20px, 26px, 480px, 767px);
      line-height: 1.5;
    }

    @include min-w(768px) {
      margin-bottom: 15px;
      @include fluid-font(26px, 50px, 768px, 1440px);
    }

    @include min-w(992px) {
      margin-bottom: 20px;
      line-height: 1.282;
      font-weight: 700;
    }
  }

  &__text {
    width: 100%;
    font-weight: 300;

    @include min-w(768px) {
      max-width: 540px;
      font-weight: 400;
    }

    @include min-w(992px) {
      line-height: 2.19;
    }
  }

  &__wrap-btn {
    margin-top: 28px;

    @include min-w(992px) {
      margin-top: 40px;
    }
  }
}