.section-about {
  overflow: hidden;
  padding-bottom: 73px;

  @include min-w(992px) {
    padding-bottom: 34px;
  }

  .section__block-title {
    margin-bottom: 49px;

    @include min-w(992px) {
      margin-bottom: 47px;
    }

  }
}

.about-card {
  padding-bottom: 97px;

  @include min-w(768px) {
    padding-bottom: 99px;
  }

  @include min-w(992px) {
    padding: 66px 0;
  }

  &:last-child {
    padding-bottom: 0;

    @include min-w(992px) {
      padding-bottom: 66px;
    }
  }

  &-content {
    padding-top: 35px;

    @include min-w(480px) {
      padding-top: 30px;
    }

    @include min-w(992px) {
      padding-top: 40px;
      padding-left: 10%;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 600;

    @include min-w(480px) {
      margin-bottom: 15px;
    }

    @include min-w(992px) {
      margin-bottom: 20px;
      line-height: 1.282;
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 20px;

    &--max-width {
      @include min-w(992px) {
        width: 100%;
        max-width: 410px;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__img {
    position: relative;

    picture {
      display: block;

      img {
        display: block;
        width: calc(100% + 40px);
        max-width: none;
        margin: 0 -20px;

        @include min-w(576px) {
          width: calc(100% + 80px);
          margin: 0 -40px;
        }

        @include min-w(992px) {
          width: auto;
          max-width: 100%;
          margin: 0;
        }
      }
    }

    &--ml {
      @include min-w(992px) {
        margin-left: 10%;
      }
    }

    .rect {
      &--top-right {
        top: -23.9%;
        right: -33%;
      }

      &--top-left {
        top: -21.5%;
        left: -17.5%;
      }
    }

    .video-wrap {
      height: 322px;
    }

    .poster-video {
      &::before {
        background: linear-gradient(0deg, rgba(246, 210, 120, .3), rgba(246, 210, 120, .3));
      }
    }

    .circles {
      &--top-right {
        top: 1px;
        right: -18.6%;
      }

      &--bottom-left {
        top: calc(100% + 34px);
        left: 0.25%;
      }
    }
  }

  &__wrap-link {
    margin-top: 23px;

    @include min-w(992px) {
      margin-top: 30px;
    }
  }

  .link {
    font-weight: 600;
    color: $text-color;
  }

  &__wrap-btn {
    margin-top: 60px;
  }

  &-list-wrap {
    width: 100%;
    min-height: 300px;
    max-width: 570px;
    margin: 0 auto;
    background-color: $white;

    @include min-w(992px) {
      min-height: 320px;
      padding: 20px;
    }
  }

  &__list {
    width: 100%;
    max-width: 332px;
    margin: 0 auto;
    counter-reset: list-numeric;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 47px;

      @include min-w(992px) {
        margin-bottom: 50px;
      }

      &::before {
        counter-increment: list-numeric;
        content: counter(list-numeric);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 46px;
        height: 46px;
        margin-right: 20px;
        font-size: 24px;
        font-weight: 600;
        color: $white;
        border-radius: 50%;
        background-color: $green;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h5 {
        line-height: 39px;
      }
    }
  }
}