<section class="hero-section">
    <div id="heroSlider" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#heroSlider" data-slide-to="0" class="active"></li>
            <li data-target="#heroSlider" data-slide-to="1"></li>
            <li data-target="#heroSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 order-1 slide__text">
                        <h1 class="slide__text-title">YOU THE SPORT, WE THE <span class="text-red">SUPPORT</span></h1>
                    </div>
                    <div class="col-12 col-md-8 order-0 order-md-1 slide__img">
                        <picture>
                            <source srcset="/images/slide1-mobile.jpg" media="(max-width: 767px)">
                            <img src="/images/slide1.jpg" alt="" class="img-cover">
                        </picture>
                        <div class="slide__img-decor-left bg-yellow d-none d-md-block"></div>
                        <div class="slide__img-decor-right d-none d-md-block"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 order-1 slide__text">
                        <div class="slide__text-title">YOU THE SPORT, WE THE <span class="text-red">SUPPORT</span></div>
                    </div>
                    <div class="col-12 col-md-8 order-0 order-md-1 slide__img">
                        <picture>
                            <source srcset="/images/slide2-mobile.jpg" media="(max-width: 767px)">
                            <img src="/images/slide2.jpg" alt="" class="img-cover">
                        </picture>
                        <div class="slide__img-decor-left bg-green d-none d-md-block"></div>
                        <div class="slide__img-decor-right d-none d-md-block"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 order-1 slide__text">
                        <div class="slide__text-title">YOU THE SPORT, WE THE <span class="text-green">SUPPORT</span></div>
                    </div>
                    <div class="col-12 col-md-8 order-0 order-md-1 slide__img">
                        <picture>
                            <source srcset="/images/slide3-mobile.jpg" media="(max-width: 767px)">
                            <img src="/images/slide3.jpg" alt="" class="img-cover">
                        </picture>
                        <div class="slide__img-decor-left bg-red d-none d-md-block"></div>
                        <div class="slide__img-decor-right d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-next d-none d-md-flex" href="#heroSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="circles circles--bottom-right d-none d-lg-block">
        <svg width="36" height="34" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3.3646" cy="3.20945" r="2.78745" fill="#52B392"/>
            <circle cx="17.1551" cy="3.20945" r="2.78745" fill="#52B392"/>
            <circle cx="32.4128" cy="3.20945" r="2.78745" fill="#52B392"/>
            <circle cx="32.4128" cy="17" r="2.78745" fill="#52B392"/>
            <circle cx="17.1551" cy="17" r="2.78745" fill="#52B392"/>
            <circle cx="3.3646" cy="17" r="2.78745" fill="#52B392"/>
            <circle cx="3.3646" cy="30.7905" r="2.78745" fill="#52B392"/>
            <circle cx="17.1551" cy="30.7905" r="2.78745" fill="#52B392"/>
            <circle cx="32.4128" cy="30.7905" r="2.78745" fill="#52B392"/>
        </svg>
    </div>
</section>