.hero-club-support {
  padding-bottom: 18px;

  @include min-w(768px) {
    padding-bottom: calcFluidSize(50px, 100px, 768px, 1439px);
  }

  @include min-w(1440px) {
    padding-bottom: 100px;
  }

  .hero__content {
    padding-top: 51px;

    @include min-w(768px) {
      padding-top: calcFluidSize(40px, 80px, 768px, 1439px);
    }

    @include min-w(1440px) {
      padding-top: 80px;
    }
  }
}